{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Forum</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    {% tailwind_css %}
</head>
<body class="bg-gray-900 text-gray-300 flex flex-col min-h-screen">
    <main class="flex-grow flex flex-col items-center justify-center">
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-gray-800 text-white text-center py-4">
        <p>&copy; 2025 College Forum. All rights reserved.</p>
    </footer>
</body>
</html>